@import '../../../scss/global';

.middle-bar {
   & .middle-bar__item {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      &.start {
         justify-content: flex-start;
      }

      &.end {
         justify-content: flex-end;
         gap: 1rem;
      }

      & img {
         width: 60%;
         height: 3rem;
      }

      & input {
         flex: 7;
         border: 3px solid #c6c6c6;
         border-right: none;
         height: 3rem;
         padding-left: 1rem;

         &:focus {
            outline: none;
         }
      }

      & .search-icons-container {
         cursor: pointer;
         flex: 1;
         display: flex;
         justify-content: center;
         align-items: center;
         height: 100%;
         width: 3rem;
         background: $color-primary-main
      }
   }
}
.ahihi{
   font-size: 30px;
}