@import '../../../scss/global';

.top-bar {
   @include padding-y(0.6);

   &__item {
      @include flex-between-center;
      gap: 1rem;

      & .sub-item {
         @include flex-between-center;
         gap: 0.2rem;

         &.pointer {
            cursor: pointer;
            transition: all 0.4s linear;
         }

         &:hover {
            color: $color-primary-main;
         }
      }
   }
}