@import "../../scss/global";

.nav-bar {
   & nav {
      & .nav-bar__list {
         list-style: none;
         @include flex-between-center;

         & .nav-bar__item {
            font-weight: 600;
            text-transform: uppercase;
            padding: 1.8rem;
            font-size: 1.6rem;

            & a {
               text-decoration: none;
               color: white;
               transition: 0.15s all linear;
               &:hover {
                  opacity: 0.7;
               }
            }

            &.start {
               padding-left: 0;
            }

            &.end {
               padding-right: 0;
            }
         }
      }
   }

}