@import '../../scss/global';

.hover-side-bar {
   &__item {
      cursor: pointer;

      &:hover {
         & .title {
            transition: all 0.15s linear;
            color: $color-primary-main;
         }
      }

      @include flex-center;

      & .main-icons {
         @include flex-center;

         & img {
            width: 2.5rem;
            height: 2.5rem;
         }
      }
   }
}