@mixin flex-center {
   display: flex;
   justify-content: center;
   align-items: center;
}

@mixin flex-between-center {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

@mixin padding-x($number) {
   padding-left: #{$number}rem;
   padding-right: #{$number}rem;
}
@mixin padding-y($number) {
   padding-top: #{$number}rem;
   padding-bottom: #{$number}rem;
}
